* Type in console (Windows):
npm init -y
npm install discord.js@12.5.3


* Type in console (Linux):
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
(reload the console)
nvm install 14.17.5
npm init -y
npm install discord.js@12.5.3
